<%= javascript_include_tag 'notify_user/notification' %>
<%= stylesheet_link_tag 'notify_user/notify_user' %>

<div id="notifications_list">
	<div class="mark_as_read">
		<%= link_to 'Mark all as read', notify_user_notifications_mark_all_path %>
	</div>

	<div class="inner">
	<% @notifications.each do |notification| %>
		<div class="item <%= !notification.read? ? 'unread' : 'read' %>">
			<div class="content"><%= link_to notification.message, notify_user_path(notification), :class => 'message', :id => notification.id %></div>
			<div class="time_ago">
				<%= time_ago_in_words(notification.created_at) %> ago
			</div>
		</div>
	<% end %>
	</div>

</div>
